#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    width: calc(100% / var(--gridSize));
    padding-bottom: calc(100% / var(--gridSize));
    box-sizing: border-box;
}

