body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.settingsContainer {
    display: flex;
    margin-bottom: 8px;
}

#sizeInput {
    margin-right: 8px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    width: calc(100% / var(--gridSize));
    padding-bottom: calc(100% / var(--gridSize));
    box-sizing: border-box;
}

